.idea
__pycache__
/model_archive/
/llmlib/data/data/Geralt-Targaryen___openwebtext2/
/llmlib/data/data/_home_rick_PycharmProjects_towardsLLMs_llmlib_data_data_Geralt-Targaryen___openwebtext2_default_0.0.0_609ab658dbc2bba1089aafc10e88af2557905546.lock
